// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W        &kp F       &kp P       &kp B         &kp J        &kp L       &kp U           &kp Y             &kp SEMI
&kp A        &kp R        &kp S       &kp T       &kp G         &kp M        &kp N       &kp E           &kp I             &kp O
&mt LSHFT Z  &mt LCTRL X  &mt LALT C  &mt LGUI D  &kp V         &kp K        &mt LGUI H  &mt LALT COMMA  &mt LCTRL PERIOD  &mt LSHFT SLASH
                                      &kp ESC     &lt 2 BSPC    &lt 1 SPACE  &kp RALT
            >;
        };

        left_layer {
            bindings = <
&kp Q  &kp W  &kp F  &kp P    &kp B         &kp J        &kp L     &kp U  &kp Y  &kp SEMI
&kp A  &kp R  &kp S  &kp T    &kp G         &kp M        &kp N     &kp E  &kp I  &kp O
&kp A  &kp R  &kp S  &kp T    &kp G         &kp M        &kp N     &kp E  &kp I  &kp O
                     &kp ESC  &lt 2 BSPC    &lt 1 SPACE  &kp RALT
            >;
        };

        right_layer {
            bindings = <
&kp Q  &kp W  &kp F  &kp P    &kp B         &kp J        &kp L     &kp U  &kp Y  &kp SEMI
&kp A  &kp R  &kp S  &kp T    &kp G         &kp M        &kp N     &kp E  &kp I  &kp O
&kp A  &kp R  &kp S  &kp T    &kp G         &kp M        &kp N     &kp E  &kp I  &kp O
                     &kp ESC  &lt 2 BSPC    &lt 1 SPACE  &kp RALT
            >;
        };

        tri_layer {
            bindings = <
&sys_reset   &trans  &trans  &trans      &bt BT_SEL 0    &trans  &trans  &trans  &trans  &sys_reset
&bootloader  &trans  &trans  &trans      &bt BT_SEL 1    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &bt BT_CLR  &bt BT_SEL 2    &trans  &trans  &trans  &trans  &trans
                             &trans      &trans          &trans  &trans
            >;
        };
    };
};
