// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

conditional_layers {
    compatible = "zmk,conditional-layers";

    tri_layer {
        if-layers = <1 2>;
        then-layer = <3>;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W        &kp F       &kp P       &kp B         &kp J        &kp L       &kp U           &kp Y             &kp SEMI
&kp A        &kp R        &kp S       &kp T       &kp G         &kp M        &kp N       &kp E           &kp I             &kp O
&mt LSHFT Z  &mt LCTRL X  &mt LALT C  &mt LGUI D  &kp V         &kp K        &mt LGUI H  &mt LALT COMMA  &mt LCTRL PERIOD  &mt LSHFT SLASH
                                      &lt 3 ESC   &lt 2 BSPC    &lt 1 SPACE  &kp RALT
            >;
        };

        first_layer {
            bindings = <
&kp GRAVE        &kp EXCL        &kp AT         &kp HASH        &kp DLLR         &kp PRCNT  &kp AMPS      &kp PIPE        &kp UNDER         &kp TILDE
&kp N1           &kp N2          &kp N3         &kp N4          &kp N5           &kp N6     &kp N7        &kp N8          &kp N9            &kp N0
&mt LSHFT ASTRK  &mt LCTRL FSLH  &mt LALT PLUS  &mt LGUI MINUS  &kp EQUAL        &kp DQT    &mt LGUI SQT  &mt LALT COMMA  &mt LCTRL PERIOD  &mt LSHFT FSLH
                                                &kp DELETE      &kp BACKSPACE    &trans     &trans
            >;
        };

        second_layer {
            bindings = <
&kp ESC    &kp GT     &kp RIGHT_BRACKET  &kp RPAR  &kp RBRC    &kp HOME  &kp PAGE_DOWN  &kp INS   &kp PG_UP  &kp END
&kp TAB    &kp LT     &kp LBKT           &kp LPAR  &kp LBRC    &kp LEFT  &kp DOWN       &kp UP    &kp RIGHT  &kp ENTER
&kp LSHFT  &kp LCTRL  &kp LALT           &kp LGUI  &kp CAPS    &trans    &kp LGUI       &kp LALT  &kp LCTRL  &kp LSHFT
                                         &trans    &trans      &trans    &trans
            >;
        };

        third_layer {
            bindings = <
&kp F1     &kp F2     &kp F3    &kp F4    &kp F5           &kp F7   &kp F7    &kp F8    &kp F9     &kp F10
&kp TAB    &trans     &trans    &trans    &kp F11          &kp F12  &trans    &trans    &trans     &kp ENTER
&kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &kp CAPS         &trans   &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT
                                &trans    &kp BACKSPACE    &trans   &trans
            >;
        };

        tri_layer {
            bindings = <
&sys_reset   &trans  &trans  &trans      &bt BT_SEL 0    &trans  &trans  &trans  &trans  &sys_reset
&bootloader  &trans  &trans  &trans      &bt BT_SEL 1    &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &bt BT_CLR  &bt BT_SEL 2    &trans  &trans  &trans  &trans  &trans
                             &trans      &trans          &trans  &trans
            >;
        };
    };
};
